<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/">Home</a>
        <h1>Skills</h1>
        <ul>
            <% skills.forEach(function(t, idx){ %>
        <li>
        <a href="/skills/<%= idx %>"> <%= t.skill %> </a> 
        - <%= t.mastered ? 'Mastered' : 'Not Mastered' %> 
        </l1>
            <% }); %>
        </ul>
        <a href="skills/new">Add a New Skill</a>
</body>
</html>